.navbar-brand>img{
	margin-top: 0px;
}
.navbar-default{
	border: none;
	background: none;
}
.collapse .navbar-collapse .navbar-ex1-collapse{
	margin-top: 20px;
}

.form-horizontal .control-label{
	padding: 15px;
	font-size: 16px;
		color:  #88b77b;
}
#input{
	height: 50px;
	font-size: 16px;
	margin-left: 15px;
}
#sign{
	background:  #88b77b;
	height: 50px;
	width: 100px;
	font-size: 18px;
}
.form-horizontal .form-group{
	padding-bottom: 15px;
}
.log{
	font-weight: normal;
    font-family: Century Gothic,Arial,Helvetica,sans-serif;
    font-size: 28px; 
    color: #f60;
    text-align: center;
}
.btn-default{
	color: #ffffff;
	font-family: Century Gothic,Arial,Helvetica,sans-serif;
}