.navbar-brand>img{
	margin-top: 0px;
}
.navbar-default{
	border: none;
	background: none;
}
.collapse .navbar-collapse .navbar-ex1-collapse{
	margin-top: 20px;
}
label{
	padding-right: 10px;
}
.page-banner{
	position: fixed;
	background: #88b77b;
	width: 100%;
	height: 120px;"
}

#top {
	width:980px;
	height:100px;
	background:#fc00fc;
}
#middle {
	width:980px;
}
#bottom {
	width:980px;
	height:200px;
	background:#abcabc;
}


#left {
	width: 165px;
}

#center {
	width:618px;
	padding: 0px 15px;
}

#right {
	width:167px;
	background:#0000ff;
}

#left, #center, #right {
	display:inline;
	float:left;
}

.clear { clear:both;}

#center p {
	text-align:justify;
	
}

.form-end-row {clear:both;}

.required {
	background-color:#00ffff;
}

.form-error {color:#ff0000;}

.hint {color:#cdcdcd;}
.normal-text {color:#000000;}



tr.data-table-head td {
	background:#00fcfc;
	font-style: italic;
}

tr.data-table-row {
	background:#fcfc00;
}

tr.data-table-row-selected {
	background:#fc00fc;
} 

ul.tree li {
	list-style:none;
	
	margin: 20px;

}
i{
	color: #88b77b;
	margin: 15px;
}

ul.tree li a {
	text-decoration:none;
	font-weight: normal;
    font-size: 18px;
    color: #88b77b;
    margin :15px;
}
.tieude h2{
	font-weight: bold;
	color: #f60;
}
ul.tree li a:hover{
	cursor: pointer;
	font-weight: normal;
    font-size: 18px;
    color: #88b77b;
    text-decoration: underline;
}

ul.tree li.has-children {
	margin-left: 0px;

}

ul.tree li.no-child {
	margin-left: 16px;
	border: none;
}

ul.tree li ul {
	margin-left: 0px;

}

span.note {
	display: block;
	width:200px;
	margin-left: auto;
	margin-right: auto;
	background-color: #cfcfcf;
	text-align:center;
}
.container {
    padding-right: 0px;
    padding-left: 0px;
}
.form-label{
	float:left;
	
}

.std-form-label{
	width:100px;
}


.navbar-default .navbar-nav>li>a{
		color: #ffffff; 
	font-size: 18px; 
	font-weight: normal; 
	font-family: Century Gothic,Arial,Helvetica,sans-serif; 
}
.navbar-default .navbar-nav>li>a:hover{
	text-decoration: underline;
	color: #f60;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
.fa:hover{
	cursor: pointer;
}
.noselect, #qly{
	font-family: Century Gothic,Arial,Helvetica,sans-serif; 
	font-size: 18px;
	font-weight: normal;

}
.noselect:hover,#qly:hover {
	cursor: pointer;
	color: #88b77b;
}

.qlyclick{
	color: #f60;
	font-family: Century Gothic,Arial,Helvetica,sans-serif; 
	font-size: 18px;
	font-weight: normal;
}
.them{
	color: #88b77b;
	font-family: Century Gothic,Arial,Helvetica,sans-serif; 
	font-size: 18px;
	font-weight: normal;
}
.bang>tbody>tr>td {
    border: none;
}
.table-bordered {
    border: none;
}
